<nav style="background-color: red; padding: 1rem;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <a href="/app-inicio" style="display: flex; align-items: center; text-decoration: none;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/1200px-F1.svg.png" alt="F1 Logo" style="height: 40px; margin-right: 1rem;">
        <span style="color: white; font-size: 1.5rem;">Pitlane Pro</span>
      </a>
    </div>
  </nav><br><br>

<div class="f1-wrapper">
    <div *ngIf="!loading" class="f1-body">
        <img class="f1-logo" src="https://th.bing.com/th/id/R.0b1ae29562a147a6925a36c13699efbc?rik=SKD%2f2SCus9D9IQ&riu=http%3a%2f%2fmedia.motorbox.com%2fimage%2fil-nuovo-logo-della-formula-1%2f5%2f8%2f9%2f589220%2f589220-16x9-lg.jpg&ehk=pNkCjqy19HrO1%2fPKhh24t24UV4l6hBOjznbj78EjNRw%3d&risl=&pid=ImgRaw&r=0" alt="img login">
        <h3>Registrar Usuario</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Ingrese usuario">
            <label>Correo electrónico</label>
            <small *ngIf="password != '' && !isValidEmail()" class="text-danger">
                El correo no es válido
            </small>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese password">
            <label>Password</label>
            <!-- Mensaje de error para la contraseña -->
            <small *ngIf="password != '' && !isValidPassword()" class="text-danger">
                La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, un número y un símbolo
            </small>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese password de nuevo">
            <label>Repetir Password</label>
             <!-- Mensaje de error para la contraseña -->
             <small *ngIf="password != '' && !isValidPassword()" class="text-danger">
                La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra mayúscula, un número y un símbolo
            </small>
            <small *ngIf="password != confirmPassword" class="text-danger">
                Las contraseñas no son iguales
            </small>
            
        </div>
        <!-- Agregar campo para seleccionar el rol del usuario -->
        <!-- <div class="form-floating mb-3">
            <select [(ngModel)]="role" class="form-select" aria-label="Seleccione el rol">
                <option value="" disabled selected>Seleccione el rol</option>
                <option value="admin">Administrador</option>
                <option value="user">Usuario</option>
                <option value="usuario">Usuario2</option>
            </select>
            <label>Rol</label>
        </div> -->
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="addUser()" class="btn btn-f1">Aceptar</button>
        </div>
        <a routerLink="/login" class="f1-back-link">Volver</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div><br><br>

<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>CONTENIDO</h3>
            <ul>
                <li><a href="/app-cards-pilotos">Imágenes nuevas</a></li>
                <li><a href="/app-home">Contenido popular</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>INFORMACIÓN</h3>
            <ul>
                <li><a href="#">Sobre nosotros</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>LEGAL</h3>
            <ul>
                <li><a href="/app-poli-priv">Política de privacidad</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>REDES SOCIALES</h3>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-x"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <p>Recibe contenido exclusivo en tu correo</p>
        </div>
    </div>
  </footer>